body {

    margin: 0;

    font-family: Arial, sans-serif;

    background-color: #f2f2f2;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;
}

.container {

    background-color: white;

    padding: 40px;

    border-radius: 10px;

    text-align: center;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {

    margin-bottom: 20px;
}

.reloj {

    font-size: 22px;

    margin-bottom: 20px;
}

button {

    padding: 12px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;
}

button:hover {

    opacity: 0.9;
}