<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>Reloj NTP</title>

    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>Reloj Unix Arduino</h1>

      <div class="reloj">
        <p id="fecha">Sin datos</p>
      </div>

      <button id="btnActualizar">Actualizar hora desde servidor NTP</button>

      <button id="btnEventos">Obtener eventos EEPROM</button>

      <div id="eventos"></div>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
